MSSQL_SA_PASSWORD=P@del2026!Strong
DB_NAME=padel
DB_USER=padel_app
DB_PASSWORD=PadelApp2026!
JWT_SECRET=local-test-8af43c2168534ab4bb3c4d88eaf54c133598eeacb6a24af9b63f273f7528a111
SWAGGER_PERMIT_ALL=true
ADMIN_GLOBAL_USERNAME=adminGlobal
ADMIN_GLOBAL_PASSWORD=admin123
ADMIN_SITE_PASSWORD=admin123
ADMIN_SITE_USERS=adminSite1:1,adminSite2:2
